{% extends './base.html' %}



{% block content %}
<div class="col-md-6 my-auto">
  <br>
<h2 style="font-family: 'Gill Sans', sans-serif; margin-left: 25px">Post Volunteer Event</h2>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body mt-5" style="background-color:lightblue">
          <form method="post" enctype="multipart/form-data">
            <h3 style="text-align:center; font-family: 'Gill Sans', sans-serif;">Add New Event</h3>
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <h6 style="font-family: 'Gill Sans', sans-serif;">{{ field.label_tag }}</h6> 
                <p style="font-family: 'Gill Sans', sans-serif;">{{ field }}</p>
                {% if field.help_text %}
                  <p class="help" style="font-family: 'Gill Sans', sans-serif; font-style: italic;">{{ field.help_text|safe }}</p>
                <br>
            {% endif %}
             </div>
{% endfor %}
            <!-- make the form  prettier here -->
          {#      <button type="submit">Submit New Post</button>#}
            <input type="submit" value="Post Event" class="btn btn-success" style="font-family: 'Gill Sans', sans-serif;">
          </form>
        </div>
      </div>
    </div>
  </div>

<div style="margin-bottom:10%"></div>

{% endblock %}
