{% extends './base.html' %}



{% block content %}
<div class="col-md-6 my-auto">
<h2>Post Volunteer Opportunity</h2>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body mt-5" style="background-color:lightblue">
          <form method="post" enctype="multipart/form-data">
            <h2 style="text-align:center;">Add New Event</h2>
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <h6>{{ field.label_tag }}</h6> 
                <p>{{ field }}</p>
                {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                <br>
            {% endif %}
             </div>
{% endfor %}
            <!-- make the form  prettier here -->
          {#      <button type="submit">Submit New Post</button>#}
            <input type="submit" value="Post!" class="btn btn-primary" style="background-color:rgb(253, 253, 253)">
          </form>
        </div>
      </div>
    </div>
  </div>

<div style="margin-bottom:10%"></div>

{% endblock %}
