{% extends './base.html' %}


{% block content %}

<div class="row">
    <div class="col-sm">
        <h3>Title: </h3>
        <p>{{object.event_title}}</p>
        <h3>Date: </h3>
        <p>{{object.event_datetime}}</p>
        <h3>Description: </h3>
        <p>{{object.event_description }}</p>
        <h3>Location: </h3>
        <p>{{object.event_location}}</p>
        <h3>Tags: </h3>
        <p> {% for o in object.tags.all %}
            <p>{{o}}</p>
            {% endfor %}
        </p>
    </div>

    <div class="col-sm">
        <img src="{{ object.cover.url}}" alt="{{ object.title }}" style="width:500px;height:400px">
    </div>
</div>

{% if not registered %}

    <form action="{% url 'volunteer:signup' object.id %}" method="post"> 
        {% csrf_token %}
        <input type="Submit" class="btn btn-outline-dark" value="Sign up"> 
    </form>

{% else %}
<form action="{% url 'volunteer:unregister' object.id %}" method="post"> 
    {% csrf_token %}
    <input type="Submit" class="btn btn-outline-dark" value="Unregister"> 
</form>
{% endif %}

<div style="margin-bottom:20%"></div>

{% endblock %}
