{% extends './base.html' %}


{% load social_share %}
{% load static %}
  
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'volunteer/social_share.css' %}">  


<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body" style="background-color: rgb(186, 226, 226);">
                <br>
                <h2 style="font-family: cursive; text-align: center;">{{object.event_title}}</h3>
                <br>
                <h5 style="font-family: 'Gill Sans', sans-serif;">Date: </h3>
                <p style="font-family: 'Gill Sans', sans-serif;">{{object.event_datetime}}</p>
                <h5 style="font-family: 'Gill Sans', sans-serif;">Description: </h3>
                <p style="font-family: 'Gill Sans', sans-serif;">{{object.event_description }}</p>
                <h5 style="font-family: 'Gill Sans', sans-serif;">Location: </h3>
                <p style="font-family: 'Gill Sans', sans-serif;">{{object.event_location}}</p>
                <!-- <h5 style="font-family: 'Gill Sans', sans-serif;">Tags: </h3> -->
                <p style="font-family: 'Gill Sans', sans-serif;"> 
                    {% for o in object.tags.all %}
                    <p style="font-family: 'Gill Sans', sans-serif;">{{o}}</p>
                    {% endfor %}
                <h5 style="font-family: 'Gill Sans', sans-serif;">Volunteers Attending: </h5>
                    <p> {% for user in object.attending.all %}
                        <li style="font-family: 'Gill Sans', sans-serif;">{{user.username}}  ({{user.email }}) </li>
                        {% endfor %}
                    </p>
                <form action="{% url 'volunteer:delete' object.id %}" method="post"> 
                    {% csrf_token %}
                    <input type="Submit" class="btn btn-outline-dark btn-sm" value="Delete Event" style="font-family: 'Gill Sans', sans-serif;"> 
                </form> 
                <br>
                <br>
                <div>
                    <h6>Share the Event on Social Media!</h6>
                    <button type="button" class="btn btn-primary btn-sm">
                        {% post_to_twitter "Join me in volunteering for {{object.event_title}} ({{object.event_datetime}}) @ {{object.event_location}}" "" "&#128038; Write Tweet" %}
                    </button>
                    <button type="button" class="btn btn-info btn-sm">
                        {% post_to_facebook "" "&#128077; Post on Facebook" %}
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                        {% send_email "Volunteering: {{object.event_title}}" "Hey, just wanted to share a volunteer event I've signed up for! It'll be at {{object.event_location}} on {{object.event_datetime}}. Check out the link for more info!" "" "&#128231; Send Email" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ object.cover.url}}" alt="{{ object.title }}" style="width:510px;height:510px">
        </div>
    </div>
</div>

<!-- <form action="{% url 'volunteer:signup' object.id %}" method="post"> 
    {% csrf_token %}
   
    <div class="row">
    <div class="col-sm">
    <h1>Title: </h1>
    <p>{{object.event_title}}</p>
    <h1>Date: </h1>
    <p>{{object.event_datetime}}</p>
    <h1>Description: </h1>
    <p>{{object.event_description }}</p>
    <h1>Location: </h1>
    <p>{{object.event_location}}</p>
    <h1>Tags: </h1>
    <p> {% for o in object.tags.all %}
        <p>{{o}}</p>
        {% endfor %}
    </p>

    <h1>Volunteers Attending: </h1>
    <p> {% for user in object.attending.all %}
        <p>{{user.username}}</p>
        {% endfor %}
    </p>

    </div>
    <div class="col-sm">
        <img src="{{ object.cover.url}}" alt="{{ object.title }}" style="width:500px;height:400px">
    </div>
    </div>

{#<input type="Submit" class="btn btn-outline-dark" value="Sign up" > #}
</form> -->
<div style="margin-bottom:20%"></div>
{% endblock %}
