{% extends './base.html' %}

{% block content %}
<div class="col-md-6 my-auto">
<h2>Browse Volunteer Opportunities</h2>
</div>

    <!--
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body text-center mt-5">
                 <form>-->
                    {% if event_list %}
                    <div class="flex-container" style="justify-content: center">
                    {% for event in event_list %}
                    
                    
                        
{#                        {% if event. %}#}
                            {% csrf_token %}
                        <div  class="flex-item" style="width:400px;height:400px; background-color: rgb(154, 198, 231); background-image: url('https://img.freepik.com/free-vector/raised-hands-volunteering-blue-background-vector_77417-471.jpg?size=626&ext=jpg'); opacity: .8; background-size: 100% 100%">{{ event.event_title }}
                
                            <h3 style="font-size: 20px">{{event.event_datetime}}</h3>
                    
                            <!--<div class="btn btn-outline-light">
                            <a href="{% url 'volunteer:detail' event.id %}">Click for details.</a></div>-->
                            <form action="{% url 'volunteer:detail' event.id %}">
                                <input type="Submit" class="btn btn-outline-light" value="Click for details."> 
                            </form>
                            <!-- <a> <div class="descrip">{{event.event_description }}</div></a> -->
                            <div><img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px"></div>
                            <!--<input type="Submit" class="btn btn-outline-dark" value="Click For Details" >-->
                           
                        </div>
                        
                   
                    {% endfor %}
                    </div>
                    {% else %}
                        <p>No events are available.</p>
                    {% endif %}
                    
                <!--</form>

            </div>
        </div>
    </div>
     -->

</div>
<div style="margin-bottom:5%"></div>
{% endblock %}