{% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 {% if user.is_authenticated %}
     <p>Welcome, {{ user.username }}!</p>
     <p>You are signed in the with the following email {{user.email}}</p>

     <p><a id="logout" href="/volunteer" class="btn btn-success">Continue to microWave</a></p>


     <p>If you this not the account you would like to use, you can logout
             <a href="/accounts/logout">Here</a>

     </p>

 {% else %}
    <div class="col-md-6 my-auto">
      <h1>Welcome to our volunteer site!</h1>
      <br>
      <a id="google_login" href="/accounts/google/login" class="btn btn-success">
          Sign in with Google to continue
        </a>
    </div>
  {% endif %}
</body>
</html>