{% extends './base.html' %}


{% block content %}

<title>My events</title>

<div class="col-md-6 my-auto">
    <br>

    <h1 style="font-family: 'Gill Sans', sans-serif; margin-left: 25px;">My Events:</h1>
    <br>
<h2 style="font-family: 'Gill Sans', sans-serif; margin-left: 100px; font-style: italic;">Upcoming Events: </h2>
</div>
<div class="container-sm">
    {% if events_upcoming %}
        <div class="flex-container">
            {% for event in events_upcoming %}
            {% csrf_token %}
            <div  class="flex-item" style="width:400px;height:400px; background-color: rgb(154, 198, 231); background-image: url('https://img.freepik.com/free-vector/raised-hands-volunteering-blue-background-vector_77417-471.jpg?size=626&ext=jpg'); opacity: .8; background-size: 100% 100%">{{ event.event_title }}
                <h3 style="font-size: 20px">{{event.event_datetime}}</h3>
                <form action="{% url 'volunteer:detailmyevent' event.id %}">
                    <input type="Submit" class="btn btn-light btn-lg" value="View Details"> 
                </form>
                <img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px">

            </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No upcoming events.</p>
    {% endif %}
</div>
<div class="col-md-6 my-auto">
<h2 style="font-family: 'Gill Sans', sans-serif; margin-left: 100px; font-style: italic;">Previously Hosted Events: </h2>
</div>
<div class="container-sm">
    {% if events_past %}
    <div class="flex-container">
        {% for event in events_past %}
        {% csrf_token %}
        <div  class="flex-item" style="width:400px;height:400px; background-color: rgb(154, 198, 231); background-image: url('https://img.freepik.com/free-vector/raised-hands-volunteering-blue-background-vector_77417-471.jpg?size=626&ext=jpg'); opacity: .8; background-size: 100% 100%">{{ event.event_title }}
            <h3 style="font-size: 20px">{{event.event_datetime}}</h3>
            <form action="{% url 'volunteer:detailmyevent' event.id %}">
                <input type="Submit" class="btn btn-light btn-lg" value="View Details"> 
            </form>
            
            <img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px">

        </div>

        {% endfor %}
    </div>
    {% else %}
        <p>No previous events.</p>
    {% endif %}
</div>
<div style="margin-bottom:20%"></div>

    {% endblock %}

    <div style="margin-bottom:20%"></div>