{% extends './base.html' %}


{% block content %}

<title>My schedule</title>

<h1>My registered events: </h1>

<div class="container-sm">
                    {% if myevents %}
                    <div class="flex-container">
                    {% for event in myevents %}
                    
                        
                       
                            {% csrf_token %}
                        <div  class="flex-item" style="width:300px;height:300px">{{ event.event_title }}
                            <br>
                            <a href="{% url 'volunteer:detail' event.id %}">Click for details.</a>
                            <img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px">
                            
                        </div>
                       
                    {% endfor %}
                    </div>
                    {% else %}
                        <p>Not signed up for any events.</p>
                    {% endif %}
                    
{% endblock %}