{% extends './base.html' %}


{% block content %}

<title>My schedule</title>


<h1>My Upcoming Events: </h1>
<div class="container-sm">
    {% if events_upcoming %}
        <div class="flex-container">
            {% for event in events_upcoming %}
            {% csrf_token %}
            

            <div  class="flex-item" style="width:300px;height:300px; background-color: rgb(154, 198, 231); background-image: url('https://img.freepik.com/free-vector/raised-hands-volunteering-blue-background-vector_77417-471.jpg?size=626&ext=jpg'); opacity: .8; background-size: 100% 100%">{{ event.event_title }}
                <br>
                <form action="{% url 'volunteer:detail' event.id %}">
                    <input type="Submit" class="btn btn-outline-light" value="Click for details."> 
                </form>
                <img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px">

            </div>


            {% endfor %}
        </div>
    {% else %}
        <p>No upcoming events.</p>
    {% endif %}
</div>

<h1>My Previously Attended Events: </h1>
<div class="container-sm">
    {% if events_past %}
    <div class="flex-container">
        {% for event in events_past %}
        {% csrf_token %}
        <div  class="flex-item" style="width:300px;height:300px; background-color: rgb(154, 198, 231); background-image: url('https://img.freepik.com/free-vector/raised-hands-volunteering-blue-background-vector_77417-471.jpg?size=626&ext=jpg'); opacity: .8; background-size: 100% 100%">{{ event.event_title }}
            <br>
            <form action="{% url 'volunteer:detail' event.id %}">
                <input type="Submit" class="btn btn-outline-light" value="Click for details."> 
            </form>
            <img src="{{ event.cover.url}}" alt="{{ event.title }}" style="width:128px;height:128px">

        </div>

        {% endfor %}
    </div>
    {% else %}
        <p>No previous events.</p>
    {% endif %}
</div>
<div style="margin-bottom:20%"></div>

    {% endblock %}