
.flex-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: stretch;
  flex-direction: row;
 
}

.container-sm{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: stretch;
  flex-direction: row;
  padding: 10px;
}

.flex-item{
  background: lightgray;
  padding: 3px;
  margin-top: 10px;
  margin-bottom:10px;
  margin-left:4px; 
  margin-right:4px;
  line-height: 75px;
  color: white;
  font-size: 2em;
  text-align: center;
  border: 2px gray; 
  
}
.item{
  background: lightblue;
  padding: 100px;
  margin: 3px;
  line-height: 75px;
  color: black;
  font-size: .5em;
  text-align: center;

}

.descrip{
  font-size: .5em;
  color: black;
}